fastapi
uvicorn[standard]
gunicorn
python-multipart
yt-dlp
groq
sentence-transformers
huggingface-hub
torch
numpy
httpx
requests
pydantic
python-dotenv
motor
pymongo
gTTS
pypdf
python-docx
python-pptx
rank-bm25
certifi
dnspython
cloudinary
